    <div class='footer'></div>
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='_inc/jeremy.js'></script>
  </div><!-- /.inner -->
</div>
