<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'><!-- for Bootstrap -->
  <meta name='description' content='Jeremy Moritz Web Designer'>
  <meta name='keywords' content='Jeremy Moritz, Web Design, PHP, HTML, XHTML, CSS, Javascript, Flash'>
  <title><%= title %></title>
  <link rel='shortcut icon' href='favicon.ico'>
  <script src='//code.jquery.com/jquery-latest.js'></script>
  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css'>
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
  <link rel='stylesheet' href='_inc/jeremy.css'>
  <%= headContent %>
  <script type='text/javascript'>
    //  google analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23066588-1']);
    _gaq.push(['_setDomainName', '.jeremymoritz.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
